*{
    box-sizing: border-box;
    margin:0 auto
}

body {
    font-family: Arial, Helvetica, sans-serif
}

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}

li{
    list-style:none;
    display: inline;
    margin: 10px 15px;
}


main {
    max-width: 1140px;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
}

/* CABECERA - MENU */

header {
    width: 1140px;
    background-color:#ffe600 ;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

header img {
    float : left;
    width: 100px
  
}

nav{
    padding-top: 10px;
}

nav #menu {
float: left;
}

nav #ingreso{
    float: right;
}

/* PRODUCTOS */
.productos{
    width: 800px;
    background-color:#ffe600 ;
    overflow: hidden;
    float: left;
}

.producto{
    width: 380px;
    margin:10px 10px 20px 10px;
    float:left
}




